
text {
  font-size: 10px;
}

g > text.active {
  font-size: 30px;
}

circle.active {
  fill: red;
}

circle {
  fill: pink;
  stroke: black;
  stroke-width: 1px;
}

circle.inactive {
  fill: gray;
}
